html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

#logo {
  width: 155px;
  height: 24px;
}

.wrapper {
  background-color: #f5f7fa;
  padding: 0px 105px;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu-item-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #18191f;
}

.menu-item-link:hover {
  text-shadow: 1px 0px black;
}

.account {
  display: flex;
  gap: 14px;
}

.account-item-link {
  text-decoration: none;
  padding: 10px 20px;
}

#login {
  color: #4caf4f;
}

#signup {
  color: #fff;
  background-color: #4caf4f;
  border-radius: 6px;
}

.hero-section {
  margin-top: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 39px 96px 39px;
}

#hero-section-left-title {
  color: #4d4d4d;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
  max-width: 657px;
}

#hero-section-left-sub-title {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}

#hero-section-left-description {
  color: #4caf4f;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}
#hero-section-image {
  width: 391px;
  height: 407px;
}

#btn-register {
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4caf4f;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: white;
}

.client-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 40px 0px;
  justify-content: space-between;
}

#client-section-title {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

#client-section-sub-title {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 16px 0px 0px;
}

.client-section-list-logo {
  display: flex;
  gap: 136px;
  padding: 25px 0px;
  justify-content: space-between;
  padding: 39px;
}

.client-section-logo {
  height: 48px;
  width: 48px;
}

#client-section-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.client-wrapper {
  padding: 0px 105px;
}

.suitable-section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#suitable-section-heading-title {
  color: #4d4d4d;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  max-width: 542px;
}

#suitable-section-heading-sub-title {
  color: #717171;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.suitable-section-body-component {
  display: flex;
  flex-direction: column;
  max-width: 299px;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--neutral-white, #fff);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

#suitable-section-body-component-logo {
  width: 65px;
  height: 56px;
}

.suitable-section-body-component-title {
  color: #4d4d4d;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.suitable-section-body-component-sub-title {
  color: #717171;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.suitable-section-body {
  display: flex;
  justify-content: space-between;
  max-width: 1152px;
  margin: 0 auto;
  gap: 128px;
  margin-top: 16px;
}

.unseen-section {
  display: flex;
  justify-content: center;
  gap: 49px;
  margin-top: 42px;
}

#unseen-section-logo {
  width: 442px;
  height: 433px;
}

.unseen-section-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 661px;
}

.unseen-section-description-title {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.unseen-section-description-sub-title {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}

.unseen-section-description-learn-more {
  border-radius: 4px;
  background: #4caf4f;
  padding: 14px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  margin-top: 32px;
}

.achievements-section {
  display: flex;
  justify-content: space-between;
  padding: 48px 144px;
  align-items: center;
  background-color: #f5f7fa;
}

.achievements-section-left {
  display: flex;
  flex-direction: column;
}

.achievements-section-left-title {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.achievements-section-left-description-title {
  color: #4caf4f;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 8px;
}
.achievements-section-left-sub-title {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.achievements-section-right {
  max-width: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.achievements-section-right-logo {
  width: 48px;
  height: 48px;
}
.achievements-section-right-component {
  display: flex;
  align-items: center;
}

.achievements-section-right-component-body {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.achievements-section-right-number {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.achievements-section-right-description {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.customers-section {
  display: flex;
  padding: 144px;
  background-color: #f5f7fa;
  margin: 48px 0px;
}

.customers-section-left-logo {
  width: 326px;
  height: 326px;
}
.customer-section-right-list-logo {
  display: flex;
  justify-content: space-between;
}

.customers-section-right {
  padding-left: 78px;
}

.customers-section-right-description {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}
.customers-section-right-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.customers-section-right-info-name {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.customers-section-right-info-description {
  color: #89939e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.customer-section-right-logo {
  width: 48px;
  height: 48px;
}

.customer-section-right-list-item-link {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
}

.customer-section-right-list-item-right-item {
  height: 24px;
  width: 24px;
}

.footer {
  height: 155px;
  background-color: #263238;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 23px;
}

.footer-list-logo {
  display: flex;
  gap: 16px;
}

.footer-list-logo-item-icon {
  width: 32px;
  height: 32px;
}
